:root{
  --bg-color:#0075ff;
  --container-bg: #ffffff;
  --code-bg: #0000008f;
  --w:100vw;
  --h:100vh;
}
pre[class*=language-]{    
  margin-right: 13vw
}
body{
  background-color: var(--bg-color);
}
.container{
  background-color: var(--container-bg);
  display: grid;
  border-radius: 10px;
  width: calc(var(--w) - 2vw);
  height: calc(var(--h) - 2vh);
}
.codejs{
  /* background-color: var(--code-bg);
  border-radius: 10px;
  width: calc(var(--w) + 100% );
  height: calc(var(--h) - 2vh); */
  color: #ffffff;
}

.main{
  position: relative;
   top : 50px;
   left: 2vw;
   
}

label{
  font-size: 25px;
}

button{
  height: 100px;
  width: 100px;
  background-color: #0075ff;
  color: #ffffff;
  margin-left: 50vw;
  
  box-shadow: 5px 5px 5px hsl(212, 100%, 60%),10px 10px 5px hsl(212, 100%, 61%),15px 15px 5px hsl(212, 100%, 61%);
  border-radius: 10px;
  border : transparent;
}
button:active{
  box-shadow: 6px 6px  hsl(212, 100%, 40%);
  transform: translate3d(10px, 10px, 10px);
}

.btn{
  height: 40px;
  width: 100px;
  background-color: #000000;
  color: #ffffff;
  margin-left: 10vw;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(212, 6%, 64%),10px 10px 5px hsl(212, 6%, 64%),15px 15px 5px hsl(212, 6%, 64%);
  
  border : transparent;
}
.down{
  margin-top : 100px;
  margin-bottom : 50px;
}
.btn:active{
  box-shadow: 6px 6px  hsl(212, 6%, 64%);
  transform: translate3d(10px, 10px, 10px);
}
/* @media only screen and (max-width: 600px) {
  
} */